# Node modules
node_modules/

# Environment variables
.env

# Deployment
.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Package lock
package-lock.json

# Archivos temporales
*.tmp
*.temp
